#printNumbers {
  font-size: 20px;
  margin-left: 50%;
}

#totalOne {
  font-size: 20px;
  margin-top: 30px;
}
#totalTwo {
  font-size: 20px;
  margin-top: 35px;
}
#totalThree {
  font-size: 20px;
  margin-top: 40px;
}
#totalFour {
  font-size: 20px;
  margin-top: 45px;
}
#totalFive {
  font-size: 20px;
  margin-top: 50px;
}
#totalSix {
  font-size: 20px;
  margin-top: 55px;
}
button {
  margin-left: 50%;
}
